<div>
  <!-- Make a right and left skipper button -->
  <button
    mat-icon-button
    class="item-calendar__skipper-button item-calendar__skipper-button--left"
    (click)="skipLeft()"
    [ngClass]="{ 'item-calendar__skipper-button--disabled': disableLeft }"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button
    mat-icon-button
    class="item-calendar__skipper-button item-calendar__skipper-button--right"
    (click)="skipRight()"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<div
  class="item-calendar"
  [ngClass]="{ 'item-calendar--mobile': deviceType === 'mobile' }"
>
  <div
    *ngFor="let item of weekdays; let i = index"
    class="item-calendar__block"
    [ngClass]="{
      'item-calendar__block--right-line ':
        i !== weekdays.length - 1 && deviceType !== 'mobile'
    }"
  >
    <div class="item-calendar__block__header">
      <hr *ngIf="deviceType === 'mobile' && i !== 0" />
      <p>{{ item.name }}</p>
      <p>{{ item.date | date : "yyyy.MM.dd" }}</p>

      <hr *ngIf="deviceType !== 'mobile'" />
    </div>
    <div class="item-calendar__block__content-wrapper">
      <div
        *ngFor="let appointment of item.appointments"
        class="item-calendar__block__content-wrapper__content"
        [ngClass]="{
          'item-calendar__block__content-wrapper__content--booked':
            appointment.booked,
          'item-calendar__block__content-wrapper__content--selected':
            appointment.selected
        }"
        (click)="selectTime(appointment, i)"
      >
        <span>
          {{ appointment.time }}
        </span>
      </div>
    </div>
  </div>
</div>
