<div class="container">
  <h1>Make an Appointment</h1>
  <form [formGroup]="appointmentForm">
    <mat-form-field>
      <mat-label>Select a table:</mat-label>
      <mat-select formControlName="table" (valueChange)="changeTable($event)">
        <mat-option *ngFor="let table of tables" [value]="table.id">
          {{ table.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <br />
    <button mat-raised-button color="primary">Book Appointment</button>
  </form>

  <app-item-calendar
    (selectDate)="selectDate($event)"
    [bookedDates]="selectedBooked"
  >
  </app-item-calendar>
</div>
