<mat-toolbar>
  <span routerLink="/" style="cursor: pointer">8 Ball Pool</span>
  <div *ngIf="deviceType === 'desktop'; else hamburger" class="menu-container">
    <div>
      <button mat-button routerLink="/">Kezdőlap</button>
      <button mat-button routerLink="/appointments">Foglalás</button>
    </div>
    <span class="spacer"></span>
    <div class="float-right">
      <button mat-button routerLink="/login" class="" *ngIf="!loggedIn">
        Bejelentkezés
      </button>
      <button mat-button (click)="logout()" class="" *ngIf="loggedIn">
        Kijelentkezés
      </button>
    </div>
  </div>
</mat-toolbar>
<ng-template #hamburger>
  <div class="menu-container" style="justify-content: end">
    <button mat-icon-button (click)="isSidenavOpened = !isSidenavOpened">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</ng-template>
<div class="sidenav" *ngIf="isSidenavOpened && deviceType === 'mobile'">
  <mat-nav-list>
    <a mat-list-item routerLink="/">Kezdőlap</a>
    <a mat-list-item routerLink="/appointments">Foglalás</a>
    <a mat-list-item routerLink="/login" *ngIf="!loggedIn">Bejelentkezés</a>
    <a mat-list-item (click)="logout()" *ngIf="loggedIn">Kijelentkezés</a>
  </mat-nav-list>
</div>
